@import "../libs/Accordeon/MFSAccordeon"
@import "../libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar"
*
	margin 0
	padding 0
[class*="ymaps-2"][class*="-ground-pane"] {
	filter saturate(0.5) contrast(95%) brightness(105%)
}

.MapWrap
	display flex
	justify-content space-between
	height 90vh
#Map, #DescMap
	height 100%
#Map
	width 40%
#DescMap
	width 60%

.DescMap
	&-BredCrambsLink
		font-family: 'Roboto'
		font-size: 14px
		&_This
			color: #D64B4B
		&_NotThis
			color #828282
			&:after
				content: '/'
				display: inline-block
				padding-left: 5px
				padding-right: 5px
	&-Header
		height: 80px
		background-color: #F2F2F2
		display: flex
		align-items: center
		padding: 0 25px
		justify-content: space-between
	&-City
		height: 100%
		display: flex
		align-items: center
		width: 17%
	&-CityName
		height: 50%
		display: flex
		align-items: center
		padding-left: 50px
		border-left: 1px solid #e0e0e0
		position: relative
		font-family: Roboto
		font-size: 14px
		text-decoration-line: underline
		color: #333333
		&:before
			content: ''
			display: block
			background-image: url(ic_room.png)
			top: calc(50% - 9px)
			left: 20px
			position: absolute
			width: 18px
			height: 18px



.Store
	padding 51px 0
	height: 671px
	&-Name
		font-family: Rubik
		font-weight: 500
		font-size: 30px
		letter-spacing: 0.05em
		text-transform: uppercase
		color: #C62828
		margin-bottom: 5px
		padding-left: 25px
	&-Address
		font-family: Roboto
		font-size: 21px
		color: #4F4F4F
		margin-bottom: 15px
		padding-left: 25px
	&-Links
		margin-bottom: 24px
		padding-left: 25px
	&-HowToGet, &-More
		font-family: Roboto
		font-size: 18px
		text-decoration-line: underline
		color: #C62828
	&-HowToGet
		margin-right: 25px
	&-HowGetHeader
		font-family: Roboto
		font-size: 24px
		letter-spacing: 0.05em
		color: #4F4F4F
		margin-left: 25px
		margin-bottom: 25px
	&-LineWrap
		display flex
		align-items center
		height: 103px
		padding-left: 25px
		&:nth-child(odd)
			background-color: #fbfbfb
	&-LineCaption
		flex-basis 40%
		font-family: Roboto
		font-size: 16px
		color: #828282
	&-Phone, &-Schedule, &-Mail
		font-family: Roboto
		font-size: 16px
		color: #333333


.NearestStores
	&-Header
		margin-left: 25px
		font-family: Roboto
		font-size: 24px
		letter-spacing: 0.05em
		color: #4F4F4F
	&-Line
		height: 124px
		display: flex
		justify-content: center
		flex-direction: column
		&:nth-child(odd)
			background-color: #fbfbfb
	&-InfoWrap
		display flex
		margin-left: 25px
	&-Name
		margin-left: 25px
		color: #D64B4B
		font-family: Roboto
		font-size: 14px
	&-Address
		font-family: Roboto
		margin-left: 25px
		font-size: 14px
		color: #4F4F4F
		margin-bottom: 10px
		text-decoration none
	&-ScheduleWrap
		margin-right: 50px
	&-ScheduleName, &-PhoneName
		font-family: Roboto
		font-size: 11px
		color: #BDBDBD
		margin-bottom: 5px
	&-ScheduleData, &-PhoneData
		font-family: Roboto
		font-size: 11px
		color: #4F4F4F

.Accordion
	margin-left: 25px
	margin-bottom: 50px
	&-Car, &-Public
		display flex
		margin-bottom: 20px
		&_Name
			flex-basis: 15%
			font-family: Roboto
			font-size: 16px
			color: #BDBDBD
	&-Link
		box-sizing border-box
		font-family: Roboto
		font-size: 18px
		color: #828282
		margin-left: 40px
		text-decoration none
		&:hover
			color: #333333
			text-decoration: underline
			text-decoration-color: #c62828
			text-decoration-style: double
	&-Desc
		display none
		font-family: Roboto
		font-size: 18px
		line-height: 23px
		color: #4F4F4F
	&-DescWrap
		padding-left 25px
		margin-bottom: 85px
